<mat-toolbar class="toolbar">
  <button mat-icon-button class="example-icon" (click)="onMenuClick()">
    <mat-icon>menu</mat-icon>
  </button>

  <span>{{loc('title')}}</span>
  <span class="spacer"></span>

  <button mat-icon-button class="example-icon">
    <mat-icon>share</mat-icon>
  </button>
  <!--	<hpe-notification-button tbRight></hpe-notification-button>-->
  <!--	<hpe-user-button         tbRight>-->
  <!--        <div class="userPanel">{{loc('userDetails')}}</div>-->
  <!--    </hpe-user-button>-->
</mat-toolbar>
