<h2 mat-dialog-title>{{loc("title")}}</h2>

<mat-dialog-content class="mat-typography">
  <div class="main-layout">
    <flex-table #table class="table-panel"
                [columns]     = "columns"
                [dataProvider]= "service"
                (onRowsSelected)="onRowSelected($event)"
    ></flex-table>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button [disabled]="disSelect" (click)="onSelect()">{{button("select")}}</button>
  <button mat-button (click)="onCancel()">{{button("cancel")}}</button>
</mat-dialog-actions>
