<!--<hpe-right-title    icon      = "fa-user"-->
<!--					title     = "User view"-->
<!--                    (onClose) = "onClose()"-->
<!--&gt;</hpe-right-title>-->

<!--<hpe-form-panel>-->
<!--	<hpe-form-column class="PanelFormWidth400">-->
<!--		<hpe-form-text      icon="fa-user-o"    label="Username" [value]    ="user.username"></hpe-form-text>-->
<!--		<hpe-input-text     icon="fa-user-o"    label="Name"     [(ngModel)]="user.name" required></hpe-input-text>-->
<!--		<hpe-input-combo    icon="fa-heartbeat" label="Status"   [(ngModel)]="user.status" [dataMap]="userStatus" required></hpe-input-combo>-->
<!--		<hpe-input-checkbox icon="fa-trash"     label="Removed"  [(ngModel)]="user.removed"></hpe-input-checkbox>-->
<!--	</hpe-form-column>-->
<!--</hpe-form-panel>-->

<!--<hpe-button-panel>-->
<!--	<button mat-button hpeButton (click)="onSave()">Save</button>-->
<!--</hpe-button-panel>-->

X
