<div class="main-panel">
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

  <div class="filters">
    <ng-content></ng-content>

    <mat-form-field>
      <mat-label>{{loc("filter")}}</mat-label>
      <input matInput type="text" [(ngModel)]="filter">
      @if (filter) {
        <button matSuffix mat-icon-button (click)="filter=''">
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>

    <span style="flex:1 0 auto"></span>

    <button mat-stroked-button [disabled]="true">{{tradingSystems.length}}</button>
    <div>
      <button mat-icon-button (click)="reload()">
        <span class="material-symbols-outlined">refresh</span>
      </button>
    </div>
  </div>

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

  <div class="ts-layout">
    <ready-card *ngFor="let ts of tradingSystems" [tradingSystem]="ts"></ready-card>
  </div>
</div>
