<h2 mat-dialog-title>{{loc("title")}}</h2>

<mat-dialog-content class="mat-typography">
  <div>
    <flex-table #table class="table-panel"
                [columns]       = "columns"
                [data]          = "products"
                (onRowsSelected)="onRowSelected($event)"
                [filter]        = "tableFilter"
    >
      <mat-button-toggle-group [hideSingleSelectionIndicator]="true" [formControl]="selFilter" class="filter-mode">
        <mat-button-toggle value="all"      (change)="onFilterChange()" class="filter-mode">{{ loc("filter.all")      }}</mat-button-toggle>
        <mat-button-toggle value="standard" (change)="onFilterChange()" class="filter-mode">{{ loc("filter.standard") }}</mat-button-toggle>
        <mat-button-toggle value="micro"    (change)="onFilterChange()" class="filter-mode">{{ loc("filter.micro")    }}</mat-button-toggle>
      </mat-button-toggle-group>
    </flex-table>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button [disabled]="disSelect" (click)="onSelect()">{{button("select")}}</button>
  <button mat-button (click)="onCancel()">{{button("cancel")}}</button>
</mat-dialog-actions>
