//=============================================================================
//===
//=== (C) Copyright 2018 Hewlett Packard Enterprise Development LP.
//===
//=============================================================================

.unknownUrl {
  display        : flex;
  justify-content: center;
  align-items    : center;
  height         : 100%;
  flex-direction : column;

  .mat-icon {
    color     : #A00000;
    font-size : 150px;
    width     : 150px;
    height    : 150px;
  }
}

//=============================================================================

.msg {
	font-size  : 2rem;
}

//=============================================================================
