<h2 mat-dialog-title>{{loc("titleProgress")}}</h2>
<mat-dialog-content class="mat-typography">
  <div class="main-layout">
    <mat-progress-spinner class="example-margin" [value]="percentage">
    </mat-progress-spinner>

    <table class="summary-layout">
      <tr>
        <td>{{loc("taCurrStep")}}</td>
        <td class="data-style">{{response?.currStep}}</td>
        <td class="separator-layout"></td>
        <td>{{loc("taOptimFor")}}</td>
        <td class="data-style">{{fieldToOptimize()}}</td>
        <td class="separator-layout"></td>
        <td>{{loc("taPosProfit")}}</td>
        <td>
          <mat-icon *ngIf="response?.filter?.posProfit"  fontIcon="done"></mat-icon>
          <mat-icon *ngIf="!response?.filter?.posProfit" fontIcon="close"></mat-icon>
        </td>
      </tr>
      <tr>
        <td>{{loc("taTotalSteps")}}</td>
        <td class="data-style">{{response?.maxSteps}}</td>
        <td></td>
        <td>{{loc("taBestValue")}}</td>
        <td class="data-style">{{response?.bestValue}}</td>
        <td></td>
        <td>{{loc("taOldVsNew")}}</td>
        <td>
          <mat-icon *ngIf="response?.filter?.oldVsNew"  fontIcon="done"></mat-icon>
          <mat-icon *ngIf="!response?.filter?.oldVsNew" fontIcon="close"></mat-icon>
        </td>
      </tr>
      <tr>
        <td>{{loc("taPercentage")}}</td>
        <td class="data-style">{{percentage}} %</td>
        <td></td>
        <td>{{loc("taBaseValue")}}</td>
        <td class="data-style">{{response?.baseValue}}</td>
        <td></td>
        <td>{{loc("taWinPerc")}}</td>
        <td>
          <mat-icon *ngIf="response?.filter?.winPerc"  fontIcon="done"></mat-icon>
          <mat-icon *ngIf="!response?.filter?.winPerc" fontIcon="close"></mat-icon>
        </td>
      </tr>
      <tr>
        <td>{{loc("taDuration")}}</td>
        <td class="data-style">{{response?.duration}} secs</td>
        <td></td>
        <td>{{loc("taGain")}}</td>
        <td class="data-style">{{gain}} %</td>
        <td></td>
        <td>{{loc("taEquVsAvg")}}</td>
        <td>
          <mat-icon *ngIf="response?.filter?.equVsAvg"  fontIcon="done"></mat-icon>
          <mat-icon *ngIf="!response?.filter?.equVsAvg" fontIcon="close"></mat-icon>
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="data-style"></td>
        <td></td>
        <td>{{loc("taStartDate")}}</td>
        <td class="data-style">{{response?.startDate}}</td>
        <td></td>
        <td>{{loc("taTrendline")}}</td>
        <td>
          <mat-icon *ngIf="response?.filter?.trendline"  fontIcon="done"></mat-icon>
          <mat-icon *ngIf="!response?.filter?.trendline" fontIcon="close"></mat-icon>
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="data-style"></td>
        <td></td>
        <td></td>
        <td class="data-style"></td>
        <td></td>
        <td>{{loc("taDrawdown")}}</td>
        <td>
          <mat-icon *ngIf="response?.filter?.drawdown"  fontIcon="done"></mat-icon>
          <mat-icon *ngIf="!response?.filter?.drawdown" fontIcon="close"></mat-icon>
        </td>
      </tr>
    </table>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onAbort()">{{button("abort")}}</button>
  <button mat-button mat-dialog-close>{{button("close")}}</button>
</mat-dialog-actions>
