<mat-form-field class="main-layout">
  <mat-label>{{label}}</mat-label>
  <input matInput type="number" [formControl]="formControl" [errorStateMatcher]="matcher">
  <button *ngIf="formControl.value && !disabled" matSuffix mat-icon-button (click)="onClear()" [disabled]="disabled">
    <mat-icon>close</mat-icon>
  </button>
  <mat-error *ngIf="formControl.hasError('min') && !formControl.hasError('required')">
    {{loc("input.minValue")}} : {{min}}
  </mat-error>
  <mat-error *ngIf="formControl.hasError('max') && !formControl.hasError('required')">
    {{loc("input.maxValue")}} : {{max}}
  </mat-error>
  <mat-error *ngIf="formControl.hasError('required')">
    {{loc("input.required")}}
  </mat-error>
</mat-form-field>
