<div class="main-layout">

  <div class="left-layout">
    <div class="portfolio-layout">
      <b><span>{{loc("portfolios")}}</span></b>
      <mat-divider></mat-divider>
      <flex-tree class="tree-layout"
        [roots]         = "roots"
        [nodeProvider]  = "nodeProvider"
        (onNodeSelected)="onNodeSelected($event)"
      ></flex-tree>
    </div>

    <div class="ts-layout">
      <b><span>{{loc("tradingSystems")}}</span></b>
      <mat-divider></mat-divider>
      <flex-table #tsTable class="tsTable-layout"
                  [columns]       = "columns"
                  [data]          = "tradingSystems"
                  (onRowsSelected)="onRowSelected($event)"
      ></flex-table>
    </div>

  </div>

  <div class="center-layout">
    <div class="options-layout">
      <mat-form-field>
        <mat-label>{{loc("period")}}</mat-label>
        <mat-select [value]="selectedPeriod" (selectionChange)="onPeriodChange($event)">
          <mat-option *ngFor="let p of periods" [value]="p.id">
            {{p.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{loc("chartType")}}</mat-label>
        <mat-select [value]="selectedChartType" (selectionChange)="onChartTypeChange($event)">
          <mat-option *ngFor="let p of chartTypes" [value]="p.id">
            {{p.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <span class="spacer"></span>

      <mat-chip-listbox [multiple]="true" class="chip-style">
        <mat-chip-option (selectionChange)="onTotalsChange     ($event)" [selected]="options.showTotals"     >{{loc("showTotals")}}</mat-chip-option>
        <mat-chip-option (selectionChange)="onRawProfitChange  ($event)" [selected]="options.showRawProfit"  >{{loc("showRawProfit")}}</mat-chip-option>
        <mat-chip-option (selectionChange)="onNetProfitChange  ($event)" [selected]="options.showNetProfit"  >{{loc("showNetProfit")}}</mat-chip-option>
        <mat-chip-option (selectionChange)="onRawDrawdownChange($event)" [selected]="options.showRawDrawdown">{{loc("showRawDrawdown")}}</mat-chip-option>
        <mat-chip-option (selectionChange)="onNetDrawdownChange($event)" [selected]="options.showNetDrawdown">{{loc("showNetDrawdown")}}</mat-chip-option>
      </mat-chip-listbox>
    </div>

    <div class="chart-layout">
      <canvas  id="equityChart" >{{ chart }}</canvas>
    </div>
  </div>
</div>
